body {
	font-family: Verdana, Tahoma, Arial;
	font-size: 12px;
	color: black;
	background-color: white
}

a:link, a:active, a:visited {
	color: #03568C;
	text-decoration: underline;
}
a:hover {
	color: #7F0000 !important;
	text-decoration: underline;
}

.Hoteditor_Quote {
	font-family: Courier New;
	font-size: 12px;
	color: #31859b;
	
}

.Hoteditor_Code {
	font-family: Courier New;
	font-size: 12px;
	color: #938953;
}

.Hoteditor_Php {
	font-family: Courier New;
	font-size: 12px;
	color: #f79646;
}