<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="rule 1V">
                    <match url="^quickregister/refresh_avatars(|/)$"/>
                    <action type="Rewrite" url="/quickregister/refresh_avatars.php"/>
                </rule>
                <rule name="rule 2V">
                    <match url="^register(|/)$"/>
                    <action type="Rewrite" url="/register.php"/>
                </rule>
                <rule name="rule 3V">
                    <match url="habbo-imaging/avatar/(.*)\.gif$"/>
                    <action type="Rewrite" url="//habbo-imaging/avatar.php?figure={R:1}"/>
                </rule>
                <rule name="rule 4V">
                    <match url="habbo-imaging/avatarimage?figure=([^/]+)(|/)$"/>
                    <action type="Rewrite" url="//habbo-imaging/avatar.php?figure={R:1}"/>
                </rule>
                <rule name="rule 5V">
                    <match url="^quickregister/refresh_avatars_female(|/)$"/>
                    <action type="Rewrite" url="/quickregister/refresh_avatars_female.php"/>
                </rule>
                <rule name="rule 6V">
                    <match url="^profile/profileupdate(|/)$"/>
                    <action type="Rewrite" url="/profile.php"/>
                </rule>
                <rule name="rule 7V">
                    <match url="^profile/emailupdate(|/)$"/>
                    <action type="Rewrite" url="/change_email.php"/>
                </rule>
                <rule name="rule 8V">
                    <match url="^quickregister/start/error/([^/]+)(|/)$"/>
                    <action type="Rewrite" url="//register.php?stap=1&amp;errors={R:1}"/>
                </rule>
                <rule name="rule 9V">
                    <match url="^community/publicistas(|/)$"/>
                    <action type="Rewrite" url="//linces.php"/>
                </rule>
                <rule name="rule 10V">
                    <match url="^community/tags(|/)$"/>
                    <action type="Rewrite" url="//tag.php"/>
                </rule>
                <rule name="rule 11V">
                    <match url="^editar_grupos(|/)$"/>
                    <action type="Rewrite" url="//editar_grupos.php"/>
                </rule>
                <rule name="rule 12V">
                    <match url="^bots/editar(|/)$"/>
                    <action type="Rewrite" url="//bots.php?editar"/>
                </rule>
                <rule name="rule 13V">
                    <match url="^bots(|/)$"/>
                    <action type="Rewrite" url="//bots.php"/>
                </rule>
                <rule name="rule 14V">
                    <match url="^bots?editar(|/)$"/>
                    <action type="Rewrite" url="//bots.php?editar"/>
                </rule>
                <rule name="rule 15V">
                    <match url="^myhabbo/save(|/)$"/>
                    <action type="Rewrite" url="//myhabbo/save.php"/>
                </rule>
                <rule name="rule 16V">
                    <match url="^home/(.*)/startSession/(.*)$"/>
                    <action type="Rewrite" url="//startSession.php?id={R:2}"/>
                </rule>
                <rule name="rule 17V">
                    <match url="^home/([^/]+)/id(|/)$"/>
                    <action type="Rewrite" url="//home.php?qryId={R:1}"/>
                </rule>
                <rule name="rule 18V">
                    <match url="^home/([^/]+)(|/)$"/>
                    <action type="Rewrite" url="//home.php?qryName={R:1}"/>
                </rule>
                <rule name="rule 19V">
                    <match url="^myhabbo/cancel/(.*)(|/)$"/>
                    <action type="Rewrite" url="//myhabbo/cancel.php?id={R:1}"/>
                </rule>
                <rule name="rule 20V">
                    <match url="^myhabbo/(.*)/(.*)(|/)$"/>
                    <action type="Rewrite" url="//myhabbo/{R:1}_{R:2}.php"/>
                </rule>
                <rule name="rule 21V">
                    <match url="^identity/useOrCreateAvatar/([^/]+)(|/)$"/>
                    <action type="Rewrite" url="//identity.php?type=useOrCreateAvatar&amp;param={R:1}"/>
                </rule>
                <rule name="rule 22V">
                    <match url="^identity/([^/]+)/error/([^/]+)(|/)$"/>
                    <action type="Rewrite" url="//identity.php?type={R:1}&amp;errors={R:2}"/>
                </rule>
                <rule name="rule 23V">
                    <match url="^identity/([^/]+)(|/)$"/>
                    <action type="Rewrite" url="//identity.php?type={R:1}"/>
                </rule>
                <rule name="rule 24V">
                    <match url="^changeRLname/([^/]+)/code/([^/]+)(|/)$"/>
                    <action type="Rewrite" url="//changeRLname.php?name={R:1}&amp;code={R:2}"/>
                </rule>
                <rule name="rule 25V">
                    <match url="^groups/(.*)/id/BadgeUpdated"/>
                    <action type="Rewrite" url="/./grupos.php?id={R:1}&amp;x=BadgeUpdated"/>
                </rule>
                <rule name="rule 26V">
                    <match url="^groups/(.*)/id/canceledit"/>
                    <action type="Rewrite" url="/./grupos.php?id={R:1}&amp;do=canceledit"/>
                </rule>
                <rule name="rule 27V">
                    <match url="^groups/(.*)/id/edit"/>
                    <action type="Rewrite" url="/./groups.php?id={R:1}&amp;do=edit"/>
                </rule>
                <rule name="rule 28V">
                    <match url="^groups/(.*)/id"/>
                    <action type="Rewrite" url="/./groups.php?id={R:1}"/>
                </rule>
                <rule name="rule 29V">
                    <match url="^groups/(.*)"/>
                    <action type="Rewrite" url="/./groups.php?id={R:1}"/>
                </rule>
                <rule name="rule 30V">
                    <match url="^shops/Tienda(|/)$"/>
                    <action type="Rewrite" url="//vip.php"/>
                </rule>
                <rule name="rule 31V">
                    <match url="^shops/VIP(|/)$"/>
                    <action type="Rewrite" url="//vip2.php"/>
                </rule>
                <rule name="rule 32V">
                    <match url="^shops/Raros(|/)$"/>
                    <action type="Rewrite" url="//vip3.php"/>
                </rule>
                <rule name="rule 33V">
                    <match url="^shops/Placas(|/)$"/>
                    <action type="Rewrite" url="//vip4.php"/>
                </rule>
                <rule name="rule 34V">
                    <match url="^pingsession(|/)$"/>
                    <action type="Rewrite" url="//pingsession.php"/>
                </rule>
                <rule name="rule 35V">
                    <match url="^habboclub/habboclub_confirm(|/)$"/>
                    <action type="Rewrite" url="//habblet/habboclub_confirm.php"/>
                </rule>
                <rule name="rule 36V">
                    <match url="^crossdomain.xml$"/>
                    <action type="Rewrite" url="//crossdomain.php"/>
                </rule>
                <rule name="rule 37V">
                    <match url="^gamedata/external(|/)$"/>
                    <action type="Rewrite" url="//externals.php"/>
                </rule>
                <rule name="rule 38V">
                    <match url="^security_check(|/)$"/>
                    <action type="Rewrite" url="/security_check.php"/>
                </rule>
                <rule name="rule 39V">
                    <match url="^profile(|/)$"/>
                    <action type="Rewrite" url="//profile.php"/>
                </rule>
                <rule name="rule 40V">
                    <match url="^client(|/)$"/>
                    <action type="Rewrite" url="//client.php"/>
                </rule>
                <rule name="rule 41V">
                    <match url="^flash_client_error(|/)$"/>
                    <action type="Rewrite" url="//client_error.php"/>
                </rule>
                <rule name="rule 42V">
                    <match url="^client_error(|/)$"/>
                    <action type="Rewrite" url="//client_error.php"/>
                </rule>
                <rule name="rule 43V">
                    <match url="^me(|/)$"/>
                    <action type="Rewrite" url="//me.php"/>
                </rule>
                <rule name="rule 44V">
                    <match url="^me2(|/)$"/>
                    <action type="Rewrite" url="//prueba.php"/>
                </rule>
                <rule name="rule 45V">
                    <match url="^login_popup(|/)$"/>
                    <action type="Rewrite" url="//login-popup.php"/>
                </rule>
                <rule name="rule 46V">
                    <match url="^community(|/)$"/>
                    <action type="Rewrite" url="//community.php"/>
                </rule>
                <rule name="rule 47V">
                    <match url="^community/staff(|/)$"/>
                    <action type="Rewrite" url="//staff.php"/>
                </rule>
                <rule name="rule 48V">
                    <match url="^community/linces(|/)$"/>
                    <action type="Rewrite" url="//linces.php"/>
                </rule>
                <rule name="rule 49V">
                    <match url="^help/faqsearch"/>
                    <action type="Rewrite" url="/./help.php"/>
                </rule>
                <rule name="rule 50V">
                    <match url="^help/(.*)$"/>
                    <action type="Rewrite" url="/./help.php?id={R:1}"/>
                </rule>
                <rule name="rule 51V">
                    <match url="^help$"/>
                    <action type="Rewrite" url="/./help.php"/>
                </rule>
                <rule name="rule 52V">
                    <match url="^vip$"/>
                    <action type="Rewrite" url="/./vip.php"/>
                </rule>
                <rule name="rule 53V">
                    <match url="^index2$"/>
                    <action type="Rewrite" url="/./index2.php"/>
                </rule>
                <rule name="rule 54V">
                    <match url="^papers/(.*)$"/>
                    <action type="Rewrite" url="/./paper.php?page={R:1}"/>
                </rule>
                <rule name="rule 55V">
                    <match url="^credits(|/)$"/>
                    <action type="Rewrite" url="//credits.php"/>
                </rule>
                <rule name="rule 56V">
                    <match url="^credits/pixels(|/)$"/>
                    <action type="Rewrite" url="//pixels.php"/>
                </rule>
                <rule name="rule 57V">
                    <match url="^credits/club(|/)$"/>
                    <action type="Rewrite" url="//habboclub.php"/>
                </rule>
                <rule name="rule 58V">
                    <match url="^habboclub(|/)$"/>
                    <action type="Rewrite" url="//habboclub.php"/>
                </rule>
                <rule name="rule 59V">
                    <match url="^credits/habboclub(|/)$"/>
                    <action type="Rewrite" url="//habboclub.php"/>
                </rule>
                <rule name="rule 60V">
                    <match url="^credits/uberclub(|/)$"/>
                    <action type="Rewrite" url="//habboclub.php"/>
                </rule>
                <rule name="rule 61V">
                    <match url="^credits/uberclub/tryout(|/)$"/>
                    <action type="Rewrite" url="//clubtryout.php"/>
                </rule>
                <rule name="rule 62V">
                    <match url="^credits/habboclub/tryout(|/)$"/>
                    <action type="Rewrite" url="//clubtryout.php"/>
                </rule>
                <rule name="rule 63V">
                    <match url="^register(|/)$"/>
                    <action type="Rewrite" url="//register.php"/>
                </rule>
                <rule name="rule 64V">
                    <match url="^register_submit(|/)$"/>
                    <action type="Rewrite" url="//register.php?doSubmit"/>
                </rule>
                <rule name="rule 65V">
                    <match url="^register_messages(|/)$"/>
                    <action type="Rewrite" url="//register-messages.php"/>
                </rule>
                <rule name="rule 66V">
                    <match url="^register/cancel(|/)$"/>
                    <action type="Rewrite" url="//register-cancel.php"/>
                </rule>
                <rule name="rule 67V">
                    <match url="^register/welcome(|/)$"/>
                    <action type="Rewrite" url="//welcome.php"/>
                </rule>
                <rule name="rule 68V">
                    <match url="^register/undefined(|/)$"/>
                    <action type="Rewrite" url="//index.php"/>
                </rule>
                <rule name="rule 69V">
                    <match url="^account/changepassword(|/)$"/>
                    <action type="Rewrite" url="//changepassword.php"/>
                </rule>
                <rule name="rule 70V">
                    <match url="^my_details(|/)$"/>
                    <action type="Rewrite" url="//my_details.php"/>
                </rule>
                <rule name="rule 71V">
                    <match url="^change_password(|/)$"/>
                    <action type="Rewrite" url="//change_password.php"/>
                </rule>
                <rule name="rule 72V">
                    <match url="^change_email(|/)$"/>
                    <action type="Rewrite" url="//change_email.php"/>
                </rule>
                <rule name="rule 73V">
                    <match url="^vip/shop(|/)$"/>
                    <action type="Rewrite" url="//vipshop.php"/>
                </rule>
                <rule name="rule 74V">
                    <match url="^vip/getpoints(|/)$"/>
                    <action type="Rewrite" url="//vippoints.php"/>
                </rule>
                <rule name="rule 75V">
                    <match url="^account/policy-verify(|/)$"/>
                    <action type="Rewrite" url="//policyver.php"/>
                </rule>
                <rule name="rule 76V">
                    <match url="^account/password/forgot(|/)$"/>
                    <action type="Rewrite" url="//forgot.php"/>
                </rule>
                <rule name="rule 77V">
                    <match url="^account/submit(|/)$"/>
                    <action type="Rewrite" url="//index.php"/>
                </rule>
                <rule name="rule 78V">
                    <match url="^account/logout(|/)$"/>
                    <action type="Rewrite" url="//logout.php"/>
                </rule>
                <rule name="rule 79V">
                    <match url="^account/logout_ok(|/)$"/>
                    <action type="Rewrite" url="//logout-ok.php"/>
                </rule>
                <rule name="rule 80V">
                    <match url="^account/disconnected(|/)$"/>
                    <action type="Rewrite" url="//disconnected.php"/>
                </rule>
                <rule name="rule 81V">
                    <match url="^articles(|/)$"/>
                    <action type="Rewrite" url="//article.php?mostRecent"/>
                </rule>
                <rule name="rule 82V">
                    <match url="^articles/archive(|/)$"/>
                    <action type="Rewrite" url="//article.php?mostRecent&amp;archiveMode"/>
                </rule>
                <rule name="rule 83V">
                    <match url="^articles/([^/]+)/in/archive(|/)$"/>
                    <action type="Rewrite" url="//article.php?rel={R:1}&amp;archiveMode"/>
                </rule>
                <rule name="rule 84V">
                    <match url="^articles/([^/]+)(|/)$"/>
                    <action type="Rewrite" url="//article.php?rel={R:1}"/>
                </rule>
                <rule name="rule 85V">
                    <match url="^articles/category/([^/]+)(|/)$"/>
                    <action type="Rewrite" url="//article.php?category={R:1}"/>
                </rule>
                <rule name="rule 86V">
                    <match url="^register/undefined/([^/]+)$"/>
                    <action type="Rewrite" url="//me.php"/>
                </rule>
                <rule name="rule 87V">
                    <match url="^habblet/cproxy(|/)$"/>
                    <action type="Rewrite" url="//habbletProxy.php"/>
                </rule>
                <rule name="rule 88V">
                    <match url="^habblet/ajax/([^/]+)(|/)$"/>
                    <action type="Rewrite" url="//habbletAjax.php?cmd={R:1}"/>
                </rule>
                <rule name="rule 89V">
                    <match url="^habblet/([^/]+)(|/)$"/>
                    <action type="Rewrite" url="//habblet.php?cmd={R:1}"/>
                </rule>
                <rule name="rule 90V">
                    <match url="^myhabbo/([^.]+)(|/)$"/>
                    <action type="Rewrite" url="//myhabbo.php?cmd={R:1}"/>
                </rule>
                <rule name="rule 91V">
                    <match url="^minimail/loadMessage(|/)$"/>
                    <action type="Rewrite" url="//minimail-view.php"/>
                </rule>
                <rule name="rule 92V">
                    <match url="^minimail/([^/]+)(|/)$"/>
                    <action type="Rewrite" url="//minimail.php?cmd={R:1}"/>
                </rule>
                <rule name="rule 93V">
                    <match url="^my_details(|/)$"/>
                    <action type="Rewrite" url="//my_details.php"/>
                </rule>
                <rule name="rule 94V">
                    <match url="^change_password(|/)$"/>
                    <action type="Rewrite" url="//change_password.php"/>
                </rule>
                <rule name="rule 95V">
                    <match url="^change_email(|/)$"/>
                    <action type="Rewrite" url="//change_email.php"/>
                </rule>
                <rule name="rule 96V">
                    <match url="^quickmenu/friends_all(|/)$"/>
                    <action type="Rewrite" url="//quick-friends.php"/>
                </rule>
                <rule name="rule 97V">
                    <match url="^quickmenu/groups(|/)$"/>
                    <action type="Rewrite" url="//quick-groups.php"/>
                </rule>
                <rule name="rule 98V">
                    <match url="^quickmenu/rooms(|/)$"/>
                    <action type="Rewrite" url="//quick-rooms.php"/>
                </rule>
                <rule name="rule 99V">
                    <match url="^r=(.*)$"/>
                    <action type="Rewrite" url="//refer.php?r={R:1}"/>
                </rule>
                <rule name="rule 100V">
                    <match url="^refer/(.*)$"/>
                    <action type="Rewrite" url="//refer.php?r={R:1}"/>
                </rule>
                <rule name="rule 101V">
                    <match url="^referidos/(.*)$"/>
                    <action type="Rewrite" url="//referidos.php?n={R:1}"/>
                </rule>
                <rule name="rule 102V">
                    <match url="^tag/search?tag=(.*)$"/>
                    <action type="Rewrite" url="/./tags.php?search={R:1}" appendQueryString="true"/>
                </rule>
                <rule name="rule 103V">
                    <match url="^tag/(.*)$"/>
                    <action type="Rewrite" url="/./tags.php?search={R:1}" appendQueryString="true"/>
                </rule>
                <rule name="rule 104V">
                    <match url="^tag$"/>
                    <action type="Rewrite" url="/./tags.php" appendQueryString="true"/>
                </rule>
                <rule name="rule 105V">
                    <match url="^ricos(|/)$"/>
                    <action type="Rewrite" url="//tops.php"/>
                </rule>
                <rule name="rule 106V">
                    <match url="^habblet/ajax/removeFeedItem"/>
                    <action type="Rewrite" url="/./habblet/ajax_removeFeedItem.php"/>
                </rule>
                <rule name="rule 107V">
                    <match url="^maintenance.html"/>
                    <action type="Rewrite" url="maintenance.php"/>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
