<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1">
                    <match url="^quickregister/refresh_avatars(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="quickregister/refresh_avatars.php" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="^register(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="register.php" />
                </rule>
                <rule name="Imported Rule 3">
                    <match url="habbo-imaging/avatar/(.*)\.gif$" ignoreCase="false" />
                    <action type="Rewrite" url="/habbo-imaging/avatar.php?figure={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 4">
                    <match url="habbo-imaging/avatarimage?figure=([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/habbo-imaging/avatar.php?figure={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 5">
                    <match url="^quickregister/refresh_avatars_female(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="quickregister/refresh_avatars_female.php" />
                </rule>
                <rule name="Imported Rule 6">
                    <match url="^profile/profileupdate(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="profile.php" />
                </rule>
                <rule name="Imported Rule 7">
                    <match url="^profile/emailupdate(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="change_email.php" />
                </rule>
                <rule name="Imported Rule 8">
                    <match url="^quickregister/start/error/([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/register.php?stap=1&amp;errors={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 9">
                    <match url="^community/publicistas(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/linces.php" />
                </rule>
                <rule name="Imported Rule 10">
                    <match url="^community/tags(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/tag.php" />
                </rule>
                <rule name="Imported Rule 11">
                    <match url="^editar_grupos(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/editar_grupos.php" />
                </rule>
                <rule name="Imported Rule 12">
                    <match url="^bots/editar(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/bots.php?editar" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 13">
                    <match url="^bots(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/bots.php" />
                </rule>
                <rule name="Imported Rule 14">
                    <match url="^bots?editar(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/bots.php?editar" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 15">
                    <match url="^myhabbo/save(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/myhabbo/save.php" />
                </rule>
                <rule name="Imported Rule 16">
                    <match url="^home/(.*)/startSession/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="/startSession.php?id={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 17">
                    <match url="^home/([^/]+)/id(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/home.php?qryId={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 18">
                    <match url="^home/([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/home.php?qryName={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 19">
                    <match url="^myhabbo/cancel/(.*)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/myhabbo/cancel.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 20">
                    <match url="^myhabbo/(.*)/(.*)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/myhabbo/{R:1}_{R:2}.php" />
                </rule>
                <rule name="Imported Rule 21">
                    <match url="^identity/useOrCreateAvatar/([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/identity.php?type=useOrCreateAvatar&amp;param={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 22">
                    <match url="^identity/([^/]+)/error/([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/identity.php?type={R:1}&amp;errors={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 23">
                    <match url="^identity/([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/identity.php?type={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 24">
                    <match url="^changeRLname/([^/]+)/code/([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/changeRLname.php?name={R:1}&amp;code={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 25">
                    <match url="^groups/(.*)/id/BadgeUpdated" ignoreCase="false" />
                    <action type="Rewrite" url="./grupos.php?id={R:1}&amp;x=BadgeUpdated" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 26">
                    <match url="^groups/(.*)/id/canceledit" ignoreCase="false" />
                    <action type="Rewrite" url="./grupos.php?id={R:1}&amp;do=canceledit" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 27">
                    <match url="^groups/(.*)/id/edit" ignoreCase="false" />
                    <action type="Rewrite" url="./groups.php?id={R:1}&amp;do=edit" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 28">
                    <match url="^groups/(.*)/id" ignoreCase="false" />
                    <action type="Rewrite" url="./groups.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 29">
                    <match url="^groups/(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="./groups.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 30">
                    <match url="^shops/Tienda(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/vip.php" />
                </rule>
                <rule name="Imported Rule 31">
                    <match url="^shops/VIP(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/vip2.php" />
                </rule>
                <rule name="Imported Rule 32">
                    <match url="^shops/Raros(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/vip3.php" />
                </rule>
                <rule name="Imported Rule 33">
                    <match url="^shops/Placas(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/vip4.php" />
                </rule>
                <rule name="Imported Rule 34">
                    <match url="^pingsession(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/pingsession.php" />
                </rule>
                <rule name="Imported Rule 35">
                    <match url="^habboclub/habboclub_confirm(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/habblet/habboclub_confirm.php" />
                </rule>
                <rule name="Imported Rule 36">
                    <match url="^crossdomain.xml$" ignoreCase="false" />
                    <action type="Rewrite" url="/crossdomain.php" />
                </rule>
                <rule name="Imported Rule 37">
                    <match url="^gamedata/external(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/externals.php" />
                </rule>
                <rule name="Imported Rule 38">
                    <match url="^security_check(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="security_check.php" />
                </rule>
                <rule name="Imported Rule 39">
                    <match url="^profile(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/profile.php" />
                </rule>
                <rule name="Imported Rule 40">
                    <match url="^client(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/client.php" />
                </rule>
                <rule name="Imported Rule 41">
                    <match url="^flash_client_error(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/client_error.php" />
                </rule>
                <rule name="Imported Rule 42">
                    <match url="^client_error(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/client_error.php" />
                </rule>
                <rule name="Imported Rule 43">
                    <match url="^me(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/me.php" />
                </rule>
                <rule name="Imported Rule 44">
                    <match url="^me2(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/prueba.php" />
                </rule>
                <rule name="Imported Rule 45">
                    <match url="^login_popup(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/login-popup.php" />
                </rule>
                <rule name="Imported Rule 46">
                    <match url="^community(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/community.php" />
                </rule>
                <rule name="Imported Rule 47">
                    <match url="^community/staff(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/staff.php" />
                </rule>
                <rule name="Imported Rule 48">
                    <match url="^community/linces(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/linces.php" />
                </rule>
                <rule name="Imported Rule 49">
                    <match url="^help/faqsearch" ignoreCase="false" />
                    <action type="Rewrite" url="./help.php" />
                </rule>
                <rule name="Imported Rule 50">
                    <match url="^help/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./help.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 51">
                    <match url="^help$" ignoreCase="false" />
                    <action type="Rewrite" url="./help.php" />
                </rule>
                <rule name="Imported Rule 52">
                    <match url="^vip$" ignoreCase="false" />
                    <action type="Rewrite" url="./vip.php" />
                </rule>
                <rule name="Imported Rule 53">
                    <match url="^index2$" ignoreCase="false" />
                    <action type="Rewrite" url="./index2.php" />
                </rule>
                <rule name="Imported Rule 54">
                    <match url="^papers/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./paper.php?page={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 55">
                    <match url="^credits(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/credits.php" />
                </rule>
                <rule name="Imported Rule 56">
                    <match url="^credits/pixels(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/pixels.php" />
                </rule>
                <rule name="Imported Rule 57">
                    <match url="^credits/club(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/habboclub.php" />
                </rule>
                <rule name="Imported Rule 58">
                    <match url="^habboclub(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/habboclub.php" />
                </rule>
                <rule name="Imported Rule 59">
                    <match url="^credits/habboclub(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/habboclub.php" />
                </rule>
                <rule name="Imported Rule 60">
                    <match url="^credits/uberclub(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/habboclub.php" />
                </rule>
                <rule name="Imported Rule 61">
                    <match url="^credits/uberclub/tryout(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/clubtryout.php" />
                </rule>
                <rule name="Imported Rule 62">
                    <match url="^credits/habboclub/tryout(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/clubtryout.php" />
                </rule>
                <rule name="Imported Rule 63">
                    <match url="^register(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/register.php" />
                </rule>
                <rule name="Imported Rule 64">
                    <match url="^register_submit(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/register.php?doSubmit" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 65">
                    <match url="^register_messages(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/register-messages.php" />
                </rule>
                <rule name="Imported Rule 66">
                    <match url="^register/cancel(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/register-cancel.php" />
                </rule>
                <rule name="Imported Rule 67">
                    <match url="^register/welcome(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/welcome.php" />
                </rule>
                <rule name="Imported Rule 68">
                    <match url="^register/undefined(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php" />
                </rule>
                <rule name="Imported Rule 69">
                    <match url="^account/changepassword(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/changepassword.php" />
                </rule>
                <rule name="Imported Rule 70">
                    <match url="^my_details(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/my_details.php" />
                </rule>
                <rule name="Imported Rule 71">
                    <match url="^change_password(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/change_password.php" />
                </rule>
                <rule name="Imported Rule 72">
                    <match url="^change_email(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/change_email.php" />
                </rule>
                <rule name="Imported Rule 73">
                    <match url="^vip/shop(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/vipshop.php" />
                </rule>
                <rule name="Imported Rule 74">
                    <match url="^vip/getpoints(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/vippoints.php" />
                </rule>
                <rule name="Imported Rule 75">
                    <match url="^account/policy-verify(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/policyver.php" />
                </rule>
                <rule name="Imported Rule 76">
                    <match url="^account/password/forgot(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/forgot.php" />
                </rule>
                <rule name="Imported Rule 77">
                    <match url="^account/submit(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php" />
                </rule>
                <rule name="Imported Rule 78">
                    <match url="^account/logout(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/logout.php" />
                </rule>
                <rule name="Imported Rule 79">
                    <match url="^account/logout_ok(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/logout-ok.php" />
                </rule>
                <rule name="Imported Rule 80">
                    <match url="^account/disconnected(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/disconnected.php" />
                </rule>
                <rule name="Imported Rule 81">
                    <match url="^articles(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/article.php?mostRecent" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 82">
                    <match url="^articles/archive(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/article.php?mostRecent&amp;archiveMode" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 83">
                    <match url="^articles/([^/]+)/in/archive(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/article.php?rel={R:1}&amp;archiveMode" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 84">
                    <match url="^articles/([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/article.php?rel={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 85">
                    <match url="^articles/category/([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/article.php?category={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 86">
                    <match url="^register/undefined/([^/]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="/me.php" />
                </rule>
                <rule name="Imported Rule 87">
                    <match url="^habblet/cproxy(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/habbletProxy.php" />
                </rule>
                <rule name="Imported Rule 88">
                    <match url="^habblet/ajax/([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/habbletAjax.php?cmd={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 89">
                    <match url="^habblet/([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/habblet.php?cmd={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 90">
                    <match url="^myhabbo/([^.]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/myhabbo.php?cmd={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 91">
                    <match url="^minimail/loadMessage(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/minimail-view.php" />
                </rule>
                <rule name="Imported Rule 92">
                    <match url="^minimail/([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/minimail.php?cmd={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 93">
                    <match url="^my_details(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/my_details.php" />
                </rule>
                <rule name="Imported Rule 94">
                    <match url="^change_password(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/change_password.php" />
                </rule>
                <rule name="Imported Rule 95">
                    <match url="^change_email(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/change_email.php" />
                </rule>
                <rule name="Imported Rule 96">
                    <match url="^quickmenu/friends_all(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/quick-friends.php" />
                </rule>
                <rule name="Imported Rule 97">
                    <match url="^quickmenu/groups(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/quick-groups.php" />
                </rule>
                <rule name="Imported Rule 98">
                    <match url="^quickmenu/rooms(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/quick-rooms.php" />
                </rule>
                <rule name="Imported Rule 99">
                    <match url="^r=(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="/refer.php?r={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 100">
                    <match url="^refer/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="/refer.php?r={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 101">
                    <match url="^referidos/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="/referidos.php?n={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 102">
                    <match url="^tag/search?tag=(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./tags.php?search={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 103">
                    <match url="^tag/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./tags.php?search={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 104">
                    <match url="^tag$" ignoreCase="false" />
                    <action type="Rewrite" url="./tags.php" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 105">
                    <match url="^ricos(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/tops.php" />
                </rule>
                <rule name="Imported Rule 106">
                    <match url="^habblet/ajax/removeFeedItem" ignoreCase="false" />
                    <action type="Rewrite" url="./habblet/ajax_removeFeedItem.php" />
                </rule>
            </rules>
        </rewrite>
        
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <staticContent>
            <remove fileExtension=".nitro" />
            <mimeMap fileExtension=".nitro" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
