.tag-container {
    width: 710px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    #register-page {
        width: 100%;
    }

    #auth-providers {
        display: none
    }

    .register-container-bottom-end, .create-identity-container-bottom-end {
        background: white;
        border-left: 1px solid black;
    }

    .register-container {
        border-right: 1px solid black;
        border-top-right-radius: 8px;
    }

    .register-container-bottom, .create-identity-container-bottom {
        background: white;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        border-left: 1px solid black;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    #fp-container {
        min-width: auto;
    }

    .tag-container {
        width: 100%;
    }

    #join-now-button-container {
        position: relative;
        left: 156px;
        top: -275px;
        height: 121px;
        float: left;
        z-index: 1;
    }

    .logincontainer {
        position: absolute;
        right: 19px;
        top: 48px;
        z-index: 100;
    }

    #frontpage-image {
        width: 100%;
        background-size: cover;
        background-position: right;
    }

    #footer {
        padding: 0 5px;
        width: 100%;
    }

    #register {
        #container {
            width: 100%;
        }
    }


    #navi2 {
        ul {
            width: 100%;
        }
    }

    /* HOME PAGE */
    #container, #header, #navi2-container, #header-container {
        min-width: unset;
        width: 100% !important;

        border-bottom-right-radius: 7px;
    }

    #subnavi {
        width: 100%;
        left: 0;

    }

    #subnavi-user {

        background: white;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;

        ul {
            height: 30px;
        }
    }

    #header {
        background: transparent;
    }

    #header-container, #content-container {
        padding: 0 5px;
    }

    #header h1 a, #header h1 span {
        margin-top: 30px;
    }

    #to-hotel {
        position: absolute;
        top: 48px;
        right: 10px;
    }

    #content-container {
        width: 100%;
    }

    #column1, #column2, #column3 {
        width: 100%;
        float: none;
        margin: 0;
    }

    #habbos-online {
        display: none;
    }

    #subnavi-search, #subnavi-login {
        position: absolute;
        top: 84px;
        text-align: right;
        left: 168px;
        right: 0;
    }

    #motto-container {
        max-width: 240px;
        background: white;
        border: 1px solid black;
        border-radius: 8px;
        /*text elipsis*/
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        span {
            max-width: 120px;
        }

        div {
            width: auto !important;
            max-width: 230px;
        }

        input {
            width: auto !important;
            max-width: 100px;
        }
    }

    /*    news */
    body#news #column2, body#tags #column2 {
        width: 100%;
        float: none;
        margin: 0;
    }
    .article-body {
        textarea {
            width: 97%;
        }
    }
    body#news #column1, body#tags #column1 {
        width: 100%;
        float: none;
        margin: 0;
    }

    /* credits */
    body#newcredits #column1, body#cbs2credits #column1 {
        width: 100%;
        float: none;
        margin: 0;
    }

    .method-group.online {
        background: #fcf9ec url(../images/newcredits/onlinemoney_crop.png) 26px 100% no-repeat;
    }
    .method-group.online .method, .method-group.online .method.idx0 .summary, .method-group.online .method.idx0 h2 {
        margin: 0;
        padding: 0.5rem;
    }
    #content .pixelblue .i3  {
        width: unset;
    }

    #column {
        width: 100%;
    }
}