#laedt {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 500px;
    background-color: black;
    text-align: center;
    z-index: 999;
    opacity: 0.8;
}

#laedt img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#spiel {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 500px;
    border: 1px solid black;
    cursor: url(/cabbo_racing/medien/grafik/cursor.png), auto;
}

#spiel canvas#main_canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#spiel #hauptmenu {
    width: 350px;
    height: 500px;
    background: url(/cabbo_racing/medien/grafik/menubg.png);
}

button#spielen {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -70px;
    width: 140px;
    height: 40px;
    background: #FFF000;
    background: -moz-linear-gradient(top, #FFF000 0%, #FF9C00 100%);
    background: -webkit-linear-gradient(top, #FFF000 0%, #FF9C00 100%);
    background: linear-gradient(to bottom, #FFF000 0%, #FF9C00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF000', endColorstr='#FF9C00', GradientType=0);
    box-shadow: 0px 0px 1px 3px white;
    border: 3px solid #A14C00;
    border-radius: 5px;
    font-family: ubuntu;
    color: white;
    font-size: 1.55em;
    font-weight: bold;
    outline: 0;
    z-index: 600;
}

button:hover {
    cursor: pointer;
}

#spielmenu #volume {
    position: absolute;
    left: 5px;
    top: 60px;
    width: 29px;
    height: 25px;
    background: url(/cabbo_racing/medien/grafik/volume.png);
}

#spielmenu #volume.aus {
    height: 24px;
    background-position: 0 24px;
}

#spielmenu #volume:hover {
    cursor: pointer;
}

#spielmenu #status {
    position: absolute;
    right: 10px;
    top: 10px;
    text-align: center;
}

#spielmenu #status .box {
    position: relative;
    width: 80px;
    height: 20px;
    background-color: #24231E;
    border: 3px solid #54524D;
    border-radius: 7px;
    color: white;
    font-family: Ubuntu;
    font-size: 1em;
}

#spielmenu .box:first-child, #spielmenu .box:nth-child(2) {
    margin-bottom: 8px;
}

#spielmenu #status #herz_box .icon {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1px;
    width: 16px;
    height: 16px;
    background: url(/cabbo_racing/medien/grafik/herz_icon.png) no-repeat;
}

#spielmenu #status #taler_box #icon {
    position: absolute;
    right: -11px;
    top: -10px;
    margin: 5px 8px 0 0;
    width: 22px;
    height: 25px;
    border: 3px solid #E2AE1D;
    border-radius: 4px;
    background-image: url(/cabbo_racing/medien/grafik/taler.png);
    background-color: #A47D15;
    background-size: 20px 17px;
    background-position: center;
    background-repeat: no-repeat;
}

#spielmenu #status #zeit_box #icon {
    position: absolute;
    right: -11px;
    top: -10px;
    margin: 5px 8px 0 0;
    width: 22px;
    height: 25px;
    border: 3px solid #54524D;
    border-radius: 4px;
    background-image: url(/cabbo_racing/medien/grafik/uhr.png);
    background-color: #24231E;
    background-size: 20px 17px;
    background-position: center;
    background-repeat: no-repeat;
}

#spielmenu #status .box span {
    margin-left: -20px;
    line-height: 18px;
}

#spielmenu #lvl_up {
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 10px;
    width: 190px;
    height: 25px;
    background-color: #24231E;
    border: 3px solid #54524D;
    color: white;
    font-family: Ubuntu;
    line-height: 22px;
    text-align: center;
    border-radius: 5px;
    opacity: 0;
}

#blackscreen {
    position: absolute;
    width: 350px;
    height: 500px;
    background-color: black;
    opacity: 0;
    z-index: 1;
}

#spielmenu #pfeiltasten {
    position: absolute;
    left: 100px;
    top: 200px;
    opacity: 0.8;
}

@font-face {
    font-family: Novecento;
    src: url("/cabbo_racing/medien/schriften/novecento.ttf") format("truetype");
}

#spielmenu, #gameovermenu {
    display: none;
}

#gameovermenu #header {
    margin-top: 30px;
    width: 100%;
    height: auto;
    background-color: red;
}

#gameovermenu #header p#überschrift {
    margin: 0;
    padding: 10px;
    font-size: 3em;
    color: #b40101;
    font-family: Novecento;
}

#gameovermenu #score {
    margin-top: 35px;
    font-family: Novecento;
    font-size: 1.5em;
}

#gameovermenu button#teilen {
    position: relative;
    margin-top: 10px;
    width: 120px;
    height: 30px;
    background-color: #24a1e3;
    box-shadow: 0px 5px 2px #60b8e8 inset;
    font-family: novecento;
    font-size: 1.2em;
    color: white;
    line-height: 25px;
    border: 2px solid #33A4DF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: 0;
}

#gameovermenu button#replay {
    display: block;
    position: relative;
    margin-top: 50px;
    width: 180px;
    height: 55px;
    font-size: 1.4em;
    color: black;
    font-family: Novecento;
    line-height: 40px;
    /* Old browsers */
    background: #f6f6f6;
    /* FF3.6+ */
    background: -moz-linear-gradient(top, #f6f6f6 0%, #dddddd 100%);
    /* Chrome,Safari4+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #dddddd));
    /* Chrome10+,Safari5.1+ */
    background: -webkit-linear-gradient(top, #f6f6f6 0%, #dddddd 100%);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #f6f6f6 0%, #dddddd 100%);
    /* IE10+ */
    background: -ms-linear-gradient(top, #f6f6f6 0%, #dddddd 100%);
    /* W3C */
    background: linear-gradient(to bottom, #f6f6f6 0%, #dddddd 100%);
    /* IE6-9 */;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#dddddd', GradientType=0);
    border: 1px solid #929292;
    box-shadow: 2px 2px 2px white inset, -2px -2px 2px white inset;
    z-index: 2;
    outline: 0;
}

#gameovermenu button#zurück {
    display: block;
    position: relative;
    margin-top: 25px;
    width: 230px;
    height: 50px;
    font-size: 1.4em;
    color: black;
    font-family: Novecento;
    /* Old browsers */
    background: #f6f6f6;
    /* FF3.6+ */
    background: -moz-linear-gradient(top, #f6f6f6 0%, #dddddd 100%);
    /* Chrome,Safari4+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #dddddd));
    /* Chrome10+,Safari5.1+ */
    background: -webkit-linear-gradient(top, #f6f6f6 0%, #dddddd 100%);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #f6f6f6 0%, #dddddd 100%);
    /* IE10+ */
    background: -ms-linear-gradient(top, #f6f6f6 0%, #dddddd 100%);
    /* W3C */
    background: linear-gradient(to bottom, #f6f6f6 0%, #dddddd 100%);
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#dddddd', GradientType=0);
    border: 1px solid #929292;
    box-shadow: 2px 2px 2px white inset, -2px -2px 2px white inset;
    z-index: 2;
    outline: 0;
}

#gameovermenu #bild_untenlinks {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 143px;
    height: 109px;
    background: url(/cabbo_racing/medien/grafik/gameover/bild_untenlinks.png);
    z-index: 1;
}

#gameovermenu #bild_untenrechts {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 91px;
    height: 278px;
    background: url(/cabbo_racing/medien/grafik/gameover/bild_untenrechts.png);
    z-index: 1;
}

#gameovermenu #cabbo_signatur {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    font-family: Novecento;
    font-size: 1em;
    letter-spacing: 4px;
    text-shadow: 1px 1px 1px white;
    z-index: 2;
}